.levelList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 1rem;
}

@media screen and (max-width: 728px) {
  .levelList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
