.developerListContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 50vh;
  margin-bottom: 2rem;
  .listContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));

    gap: 2rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    margin-top: 2rem;
    width: 100%;
  }
}

.listFeedback {
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #757575;
}

@media screen and (max-width: 728px) {
  .developerListContainer {
    .listContent {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
